{% extends "layout.html" %}
{% block title %} Update Etudiant {% endblock title %}
{% block content %} 
<div class="row" style="margin-left: 20%;">
    <div class="col-md-8">
      <div class="card card-primary">
        <div class="card-header">
          <h3 class="card-title">Modifier compte</h3>
        </div>
        <div class="card-body">
            <form method="post" action="{{ url_for('update_user',user_id= user_id ) }}">
                <div class="form-group">
                    <label for="exampleInputEmail1">Nom</label>
                    <input value="{{user.nom}}" type="text" name="nom" class="form-control" id="exampleInputEmail1" >
                  </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Prenom</label>
                    <input  value="{{user.prenom}}" type="text" name="prenom" class="form-control" id="exampleInputEmail1">
                  </div>
               <div class="form-group">
                <label for="exampleInputEmail1">Email</label>
                <input value="{{user.email}}" type="email" name="email" class="form-control" id="exampleInputEmail1" >
              </div>
              <div class="form-group">
                <label  for="exampleInputPassword1">Mot de passe</label>
                <input type="password" name="mdp" class="form-control" id="exampleInputPassword1" placeholder="Mot de passe">
              </div>
              <div class="form-group">
                <label>Niveau</label>
                <select class="form-control" name="niveau">
                  <option value="Premiere">Premiere</option>
                  <option value="Deuxieme">Deuxieme</option>
                  <option value="Trosieme">Trosieme</option>
                </select>
              </div>
              <div class="form-group">
                <label>Specialité</label>
                <select class="form-control" name="specialite">
                  <option value="IDL">IDL</option>
                  <option value="IDISC">IDISC</option>
                  <option value="ISEOAC">ISEOAC</option>
                </select>
              </div>
              <div class="card-footer">
                <button type="submit" class="btn btn-info">Update</button>
                <a href="{{ url_for('compte') }}" class="btn btn-default float-right">Cancel</a>
              </div>
              </form>
            </form>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
</div>
{% endblock content %}